<!DOCTYPE html>
<html>
<head>
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Staatliches&display=swap" rel="stylesheet">
</head>
<style>
.main-section {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-family: 'Staatliches', cursive;
}

#instructions-section {
  margin: 15px;
  padding: 10px;
  border: 2px solid black;
}

.text-in-predictions-section {
  margin: 15px;
}
</style>
<body>

<div class="main-section">
  <h1>Sports Predictor</h1>
  <div id="instructions-section">
    <h2>How do I use this site?</h2>
    <p>First, select the sport you would like to analyze</p>
    <p>Second, select the regular season week you would like to predict</p>
    <p>*playoff games cannot be predicted and weeks in seasons that have not started cannot be predicted
    <p>If the week you chose has already been predicted by the algorithm, then you should see your results quickly</p>
    <p>Otherwise the machine learning will take about 5-10 minutes to generate your results</p>
  </div>
    <p>Which Sport?</p>
    <p><a href="./nfl-form.html">NFL</a></p>
    <p><a href="./nba-form.html">NBA</a></p>
</div>

</body>
</html>
